<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="ie=edge" http-equiv="X-UA-Compatible">
        <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" rel="stylesheet">
        <script crossorigin="anonymous" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script crossorigin="anonymous" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script crossorigin="anonymous" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Poiret+One&display=swap" rel="stylesheet">
        <link href="../public/assets/css/style.css" rel="stylesheet">
        <link href="../public/assets/css/animate.css" rel="stylesheet">
        <title>Welcome - Mantis Shrimp Tutoring Service</title>
    </head>

    <body>

        <div class="container">

            <div class="jumbotron animated fadeIn">

                <h1 class="text-center">Mantis Shrimp Tutoring Service
                    <img alt="shrimp" class="img-responsive" id="shrimp" src="../public/assets/images/shrimp.png"></h1>

                <hr>

                <u>
                    <h2 class="text-center">About Us</h2>
                </u>

                <br/>

                <div class="row">
                    <div class="col-md-12">
                        <img alt="headshot" class="img-responsive" id="placeholder1" src="../public/assets/images/placeholder.png">

                        <p>We at Mantis Shrimp are dedicated to providing you the highest quality tutoring service available.</p>

                        <p>With our service, you will find competitive rates, a face-to-face approach, and highly individualized teaching that simply can't be matched by 'those other guys.'</p>

                        <p>With this website, you can sign up as either a tutor or a student. Regardless of how you register, you will be contacted shortly by us to discuss the next steps.</p>

                        <p>We're very excited to get you onboard! In no time you'll be tutoring or learning 'in the style of the Mantis Shrimp.'</p>
                    </div>
                </div>
            </div> <!--About Us Jumbotron-->

            <div class="jumbotron animated fadeIn">

                <u>
                    <h2 class="text-center">Student Testimonials</h2>
                </u>

                <br/>

                <div class="row text-center">
                    <div class="col-md-12">
                        <p>Take a look at these glowing testimonials from our many satisfied students:</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <img alt="headshot" class="img-responsive" id="placeholder2" src="../public/assets/images/placeholder.png">

                        <p>
                            <li>"Mantis Shrimp's service raised my IQ from 0 to genius levels in a matter of weeks!" - Tom</li>
                            <li>"I got perfect scores on my SATs and ACTs because of Mantis Shrimp!" - George</li>
                            <li>"I crushed 8th grade because of this service! Wow!" - Lisa</li>
                            <li>"I've never met a kinder group of tutors in my entire life!" - Jolene</li>
                            <li>"Mantis Shrimp is the crème de la crème of tutoring services." - Andrew</li>
                        </p>
                    </div>
                </div>
                <hr>
            </div> <!--Testimonial Jumbotron-->

            <div class="jumbotron text-center">

                <p>Convinced? Start your new journey with Mantis Shrimp today!</p>

                <hr>

                <div class="row">

                    <div
                        class="col-md-2">

                        <!-- Button trigger modal -->
                        <button class="btn btn-primary" data-target="#signupModal" data-toggle="modal" type="button">
                            Signup
                        </button>

                        <!-- Modal -->
                        <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="signupModal" role="dialog" tabindex="-1">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Signup with Mantis Shrimp Tutoring Service!</h5>
                                        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <form id="signup">
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label for="firstNameInput">First Name</label>
                                                <input class="form-control" id="signupFirstName" placeholder="First Name" type="firstName">
                                            </div>
                                            <div class="form-group">
                                                <label for="lastNameInput">Last Name</label>
                                                <input class="form-control" id="signupLastName" placeholder="Last Name" type="lastName">
                                            </div>
                                            <div class="form-group">
                                                <label for="lastNameInput">I am a...</label>
                                                <div class="form-check">
                                                    <input class="form-check-input" name="usertype" type="radio" value="student">
                                                    <label class="form-check-label" for="materialUnchecked">Student</label>
                                                </div>
                                            </div>
                                            <div class="form-check">
                                                <input checked class="form-check-input" name="usertype" type="radio" value="tutor">
                                                <label class="form-check-label" for="materialChecked">Tutor</label>
                                            </div>
                                            <br/>
                                            <div class="form-group">
                                                <label for="emailInput">Email Address</label>
                                                <input class="form-control" id="signupEmail" placeholder="Email" type="email">
                                            </div>
                                            <div class="form-group">
                                                <label for="passwordInput">Password</label>
                                                <input class="form-control" id="signupPassword" placeholder="Password" type="password">
                                            </div>
                                        </div>

                                        <div class="modal-footer">
                                            <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                                            <button class="btn btn-primary" type="submit">Submit</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-5">

                        Already registered with us?

                        <!-- Button trigger modal -->
                        <button class="btn btn-primary" data-target="#exampleModal" data-toggle="modal" type="button">
                            Login
                        </button>

                        <!-- Modal -->

                        <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="exampleModal" role="dialog" tabindex="-1">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Welcome back! Please enter your login credentials:</h5>
                                        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <form id="login">
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label for="emailInput">Email Address</label>
                                                <input class="form-control" id="email-login" placeholder="Email" type="email">
                                            </div>
                                            <div class="form-group">
                                                <label for="passwordInput">Password</label>
                                                <input class="form-control" id="password-login" placeholder="Password" type="password">
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                                            <button class="btn btn-primary" type="submit">Submit</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-5">

                        View rates and purchase hours:

                        <button class="btn btn-primary" id="storeButton">Store</button>
                    </div>

                </div>
                <!--Links Jumbotron-->
            </div>
            <!--Container-->

        </div>
        <script crossorigin="anonymous" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="/assets/js/signup.js"></script>
        <script src="/assets/js/routes.js"></script>
        <script src="/assets/js/login.js"></script>
    </body>

</html>
