<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="ie=edge" http-equiv="X-UA-Compatible">
        <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" rel="stylesheet">
        <script crossorigin="anonymous" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
        <script crossorigin="anonymous" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script crossorigin="anonymous" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Poiret+One&display=swap" rel="stylesheet">
        <link href="../public/assets/css/style.css" rel="stylesheet">
        <link href="../public/assets/css/animate.css" rel="stylesheet">
        <title>Welcome - Mantis Shrimp Tutoring Service</title>
    </head>
    <body>

        <div class="container">

            <div class="text-center jumbotron">
                <h1>Mantis Shrimp Tutoring Service <img src="../public/assets/images/shrimp.png" class="img-responsive" alt="shrimp" id="shrimp"></h1>

                <hr>

                <u><h2>About Us</h2></u>

                <br/>

                <p>We at Mantis Shrimp are dedicated to providing you the highest quality tutoring service available.
                    Take a look at these glowing testimonials from our many satisfied clients:</p>

                <p>
                    <li>"Mantis Shrimp's service raised my IQ from 0 to genius levels in a matter of weeks!" - Tom</li>
                    <li>"I got perfect scores on my SATs and ACTs because of Mantis Shrimp!" - George</li>
                    <li>"I crushed 8th grade because of this service! Wow!" - Lisa</li>
                    <li>"I've never met a kinder group of tutors in my entire life!" - Jolene</li>
                    <li>"Mantis Shrimp is the crème de la crème of tutoring services." - Andrew</li>
                </p>

                <p>Convinced? Start your new journey with Mantis Shrimp today!</p>

                <hr>

                <div class="row">

                    <div class="text-center col-md-4">

                        <!-- Button trigger modal -->
                        <button class="btn btn-primary" id="signupButton" data-target="#signupModal" data-toggle="modal" type="button">
                            Signup
                        </button>

                        <!-- Modal -->
                        <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="signupModal" role="dialog" tabindex="-1">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Signup with Mantis Shrimp Tutoring Service!</h5>
                                        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label for="firstNameInput">First Name</label>
                                            <input class="form-control" id="first-name-input" placeholder="First Name" type="firstName">
                                        </div>
                                        <div class="form-group">
                                            <label for="lastNameInput">Last Name</label>
                                            <input class="form-control" id="last-name-input" placeholder="Last Name" type="lastName">
                                        </div>
                                        <div class="form-group">
                                            <label for="lastNameInput">I am a...</label>
                                            <div class="form-check">
                                                <input class="form-check-input" id="student" name="materialExampleRadios" type="radio">
                                                <label class="form-check-label" for="materialUnchecked">Student</label>
                                            </div>
                                        </div>
                                        <div class="form-check">
                                            <input checked class="form-check-input" id="tutor" name="materialExampleRadios" type="radio">
                                            <label class="form-check-label" for="materialChecked">Tutor</label>
                                        </div>
                                        <br />
                                        <div class="form-group">
                                            <label for="emailInput">Email Address</label>
                                            <input class="form-control" id="email-input" placeholder="Email" type="email">
                                        </div>
                                        <div class="form-group">
                                            <label for="passwordInput">Password</label>
                                            <input class="form-control" id="password-input" placeholder="Password" type="password">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                                        <button class="btn btn-primary" type="button">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="text-center col-md-4">

                        Already studying with us?

                        <!-- Button trigger modal -->
                        <button class="btn btn-primary" data-target="#exampleModal" data-toggle="modal" type="button">
                            Login
                        </button>

                        <!-- Modal -->
                        <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="exampleModal" role="dialog" tabindex="-1">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Welcome Back! Login:</h5>
                                        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label for="emailInput">Email Address</label>
                                            <input class="form-control" id="email-input" placeholder="Email" type="email">
                                        </div>
                                        <div class="form-group">
                                            <label for="passwordInput">Password</label>
                                            <input class="form-control" id="password-input" placeholder="Password" type="password">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                                        <button class="btn btn-primary" type="button">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="text-center col-md-4"><a href="store.html"><button class="btn btn-primary">Store</button></a></div>

                </div> <!--Jumbotron-->
            </div> <!--Container-->

        </div>

        <script src="../public/assets/js/signup.js"></script>
        <script src="../public/assets/js/login.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    </body>
</html>