body {
    background-image: url(../images/main.png);
    font-family: 'Poiret One', cursive;
    font-size: 20px;
}

header {
    background-color: darkslategray;
    color: white;
    margin-bottom: 50px;
}

#brand {
    font-size: 32px;
}

hr {
    background-color: white;
}

.jumbotron {
    margin-top: 50px;
    border-radius: 25px;
    background-color: darkslategray;
    color: white;
}

#signupModal {
    color: black;
}

#exampleModal {
    color: black;
}

a:link {
    color: white;
  }
  
  a:visited {
    color: white;
  }

  a:hover {
    color: white;
  }
  
  a:active {
    color: white;
  }