body {
    background-image: url(../images/main.png);
    background-attachment: fixed;
    font-family: 'Poiret One', cursive;
    font-size: 24px;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 36px;
}

th{
    padding: 15px;
    text-decoration: underline;
}

td {
    padding: 15px;
}

tr {
    padding: 15px;
}

#bigJake {
    height: 300px;
    width: 300px;
    float: right;
    margin-left: 25px;
    border-radius: 25px;
    border: 1px solid white;
}

#kyle {
    height: 300px;
    width: 300px;
    float: left;
    margin-right: 25px;
    border-radius: 25px;
    border: 1px solid white;
}

header {
    background-color: darkslategray;
    color: white;
    margin-bottom: 50px;
}

button {
    padding: 25px;
}

#shrimp {
    height: 50px;
    width: 50px;
}

#brand {
    font-size: 32px;
}

#brand:hover {
    cursor: pointer;
}

#logout:hover {
    cursor: pointer;
}

#store:hover {
    cursor: pointer;
}

#profile:hover {
    cursor: pointer;
}

hr {
    background-color: white;
}

.jumbotron {
    margin-top: 50px;
    border-radius: 25px;
    background-color: darkslategray;
    color: white;
    border: 1px solid white;
}

#signupModal {
    color: black;
}

#exampleModal {
    color: black;
}

#logModal {
    color: black;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: white;
}

a:active {
    color: white;
}